*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #e8e8e8;   
    color: #000000;
}

header{
    border-bottom: #000000;
    margin: 20px;
    gap: 100;
    font-size: 36px;
    color: #000000;
}


.Java-Inicio{
    color: whitesmoke;
    font-size: 20px;
}
#javaimg{
    display: flex;
    padding-left: 200px;
    gap: auto;
}
.vidious{

    display: flex;
    overflow: auto;
    gap: 10px;
}
