*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #e0e0e0;   
    color: #2e2e2e;
}

header{
    border-bottom: #0a0a0a;
    margin: 20px;
    font-size: 36px;
    color: #f9f9f9;
}


.Java-Inicio{
    color: whitesmoke;
    font-size: 20px;
}
#javaimg{
    display: flex;
    padding-left: 200px;
    gap: auto;
}
.vidious{

    display: flex;
    overflow: auto;
    gap: 10px;
}
